agent-hunter/agent-hunter-n8n-cloud.json
{
  "name": "AI Agent 需求猎捕 (每日)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        },
        "triggerAt": "09:30",
        "tz": "Asia/Shanghai"
      },
      "id": "trigger",
      "name": "每日9:30触发",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories?q=ai+agent+created:>2026-02-23&sort=stars&order=desc&per_page=15",
        "options": {
          "timeout": 30000
        }
      },
      "id": "github",
      "name": "GitHub趋势",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// 去重 + 生成报告\nconst githubData = $input.first().json.items || [];\n\n// 生成报告\nlet report = `# 🤖 AI Agent 需求猎捕\\n\\n**日期**: ${new Date().toLocaleDateString('zh-CN')}\\n\\n---\\n\\n`;\n\nif (githubData.length > 0) {\n  report += `## 🔥 GitHub 新兴项目 (${githubData.length}个)\\n\\n`;\n  githubData.slice(0, 5).forEach((item, i) => {\n    report += `### ${i+1}. ${item.name}\\n`;\n    report += `- ⭐ ${item.stargazers_count} stars\\n`;\n    report += `- 📝 ${item.description?.slice(0,100) || '无描述'}\\n`;\n    report += `- 🔗 ${item.html_url}\\n\\n`;\n  });\n} else {\n  report += `## 暂无新项目\\n`;\n}\n\nreport += `\\n---\\n*每天 9:30 自动推送*`;\n\nreturn { json: { report } };"
      },
      "id": "process",
      "name": "处理 & 生成报告",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=c44517c4-5105-43fd-ae8c-39fa4484d02e",
        "method": "POST",
        "bodyType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "msgtype",
              "value": "markdown"
            },
            {
              "name": "markdown",
              "value": "={{ $json.report }}"
            }
          ]
        }
      },
      "id": "wechat",
      "name": "企业微信推送",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    }
  ],
  "connections": {
    "每日9:30触发": {
      "main": [
        [
          { "node": "GitHub趋势", "type": "main", "index": 0 }
        ]
      ]
    },
    "GitHub趋势": {
      "main": [
        [
          { "node": "处理 & 生成报告", "type": "main", "index": 0 }
        ]
      ]
    },
    "处理 & 生成报告": {
      "main": [
        [
          { "node": "企业微信推送", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticAssets": {},
  "tags": ["agent", "需求"]
}
